header {
  border-bottom-style: solid;
  background-color: #ffffff;
}
main {
  background-color: #e5e5e5;
}
footer {
  background-color: #2f303a;
}
body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}
/* nie działa
. span web { } */
.webStudio {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.web {
  color: #2196f3;
}
.studio {
  color: #000000;
}
.studio2 {
  color: #ffffff;
}
a {
  text-decoration: none;
}
button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}
p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
.adresStopka {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.kontaktStopka {
  color: #ffffff99;
}
ul {
  list-style-type: none;
}
button:hover {
  background-color: #2196f3;
  color: white;
  border: none;
}
.bialyLink {
  color: #ffffff99;
}
.szaryLink {
  color: #757575;
}
.czarnyLink {
  color: #212121;
}
